

.level-marker {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin: 2px;
    line-height: 26px;
    background-color: rgba(255, 255, 255, 0.2);
    border: 2px solid transparent;
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
}

.level-marker.solved {
    background-color: #228B24;
}
