

.frog {
    animation-name: stretch;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
}
@keyframes stretch {
    25% {
        transform: scale(.9);
    }

}


.frog .bg {
    background-size: 60% 60%;
}

.frog.green .bg {
    background-image: url('../../../../public/assets/frog-green.svg');
    background-size: 60% 60%;
}

.frog.red .bg {
    background-image: url('../../../../public/assets/frog-red.svg');
    background-size: 60% 60%;
}

.frog.yellow .bg {
    background-image: url('../../../../public/assets/frog-yellow.svg');
    background-size: 60% 60%;
}


/* _________________________________________________- */
.lilypad .bg, .frog .bg {
    width: 100%;
    height: 100%;
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
}

.lilypad, .frog {
    position: relative;
    width: 20%;
    height: 20%;
    overflow: hidden;
}